.aa1{
    background-color: #0d57ac;
}
.vffv{
    width: 10%;
    height: 100%;
    background-color: #005cbf;
}
.aa1{
    width: 15%;
    height: 100%;
    background-color: green;
}
.aa2{
    width: 25%;
    height: 100%;
    background-color: darkturquoise;
}
.aa4{
    width: 35%;
    height: 100%;
    background-color: orange;
}
.aa5{
    width: 50%;
    height: 100%;
    background-color: red;
}
.sad{
    font-size: 30px;
margin-left: 620px;
}